body {
    font-family: 'Familjen Grotesk', sans-serif;
}
.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

h2, h3 {
    color: #333;
}